@import "tailwindcss";

/* kfg arabic font */
@font-face {
  font-family: "KFG-Font";
  src: url("/KFGQPC Uthmanic Script HAFS Regular.otf") format("opentype");
}
.font-arabic {
  font-family: "KFG-Font";
  line-height: 2;
  direction: rtl;
}

/* jameel noori  */
@font-face {
  font-family: "Noori-Nastaleeq";
  src: url("/Jameel Noori Nastaleeq.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-urdu {
  font-family: "Noori-Nastaleeq";
  margin: 4px 0;
}

.right-dir {
  direction: rtl;
}

.left-dir {
  direction: ltr;
}
