@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap");

@font-face {
  font-family: "AlQalam";
  src: url("/KFGQPC Uthmanic Script HAFS Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-arabic {
  font-family: "KFGQPC Uthmanic Script HAFS Regular", serif;
  line-height: 2;
  direction: rtl;
}
.right-dir {
  direction: rtl;
}

.left-dir {
  direction: ltr;
}
